VITE_API_URL=http://localhost:3333
VITE_SUPABASE_URL=https://fhwcitwqjpyjolrgktfs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZod2NpdHdxanB5am9scmdrdGZzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODM3MjIyMTgsImV4cCI6MjA5OTI5ODIxOH0.s7l42tX8iPKj_kQrYEsEjy6b0dAweJ69BX-v9zhlnP8
